---
permalink: /old-prototypes/all-raw-data/
layout: wide
title: Home
---
<section class="grid-container usa-section usa-prose">
  
        <table id="myTable" class="usa-table usa-table--borderless">
                <thead>
                <!-- First column is html title to use -->
                {% for cell in site.data.all-raw-data[0] %}
                    {% if cell[0] == "id" %}
                        {% continue %}
                    {% elsif cell[0] == "Url" %}
                        {% continue %}
                    {% else %}
                        <th>{{ cell[0] }}</th>
                    {% endif %}
                {% endfor %}
                </thead>
                <tbody>
                {% for row in site.data.all-raw-data %}
                    <tr>
                    {% for cell in row %}
                        {% if cell[0] == "id" %}
                            {% continue %}
                        {% elsif cell[0] == "System Name" %}
                            <td><a href="{{ row['Url'] }}">{{ cell[1] }}</a></td>
                            {% continue %}
                        {% elsif cell[0] == "Url" %}
                            {% continue %}
                        {% else %}
                            <td>{{ cell[1] }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    
    </section>