---
permalink: /
layout: wide
title: Home
---
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>

$(document).ready( function () {
  var options = {
    valueNames: [ 'system', 'sorn-id', 'pii' ],
    page: 10,
    pagination: true
  };

  var list = new List('cards', options);

  const systemSearch = $("#system-field");
  const sornSearch = $("#sorn-field");
  const piiSearch = $("#pii-field");
  const searches = [systemSearch, sornSearch, piiSearch]

  function getSearchValues() {
    return searchValues = {
      system: systemSearch.val().toLowerCase(),
      sorn: sornSearch.val().toLowerCase(),
      pii: piiSearch.val().toLowerCase()
    }
  }

  function filter(searchValues) {
    list.filter( function(item) {

      var systemName = item.values()["system"].toLowerCase()
      var sornID = item.values()["sorn-id"].toLowerCase()
      var piiValue = item.values()["pii"].toLowerCase()

      var systemFilter = systemName.includes(searchValues.system) || !searchValues.system
      var sornFilter = sornID.includes(searchValues.sorn) || !searchValues.sorn
      var piiFilter = piiValue.includes(searchValues.pii) || !searchValues.pii

      if (systemFilter && sornFilter && piiFilter) {
        return true;
      } else {
        return false;
      }
    })
  }

  // function activeFilter(searchValues) {

  //   if (searchValues.system) {
  //     html = `<li class="usa-tag"><span id="system-search-tag"></span></li>`
  //     $("#active-filters").append(html)
      
  //   }
  // }

  searches.forEach(
    search => search.keyup( function() {
      searchValues = getSearchValues()
      filter(searchValues)
      // activeFilter(searchValues)
    })
  )
})

</script>

<!-- test comment -->
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="filter_section usa-list desktop:grid-col-3">
        <ul>
          <li>
            <span><strong>FILTERS</strong></span>
          </li>
          <li>
            <span>QUICK FILTERS</span>
          </li>
          <li>
            <span class="usa-tag">
              <input type="checkbox" name="SSN" value="SSN">
              <label for="SSN">SSN</label>
            </span>
            <span class="usa-tag">
              <input type="checkbox" name="Email" value="Email">
              <label for="Email">email</label>
            </span>
          </li>
          <li>
            <span>CUSTOM FILTERS</span>
          </li>
          <li>
            <span><strong>TYPE</strong></span>
          </li>
          <li>
            <div class="usa-checkbox float-left margin-right-2">
              <input class="usa-checkbox__input" type="checkbox" id="filter__SORNS" name="SORN" value="SORN" checked>
              <label class="usa-checkbox__label" for="filter__SORNS">SORN</label>
            </div>
          </li>
          <li>
            <div class="usa-checkbox float-left">
              <input class="usa-checkbox__input" type="checkbox" id="filter__PIA" name="PIA" value="PIA" checked>
              <label class="usa-checkbox__label" for="filter__PIA">PIA</label>
            </div>
          </li>
        </ul>
        <br>
        <ul>
          <li>
            <label class="" for="search-field">System</label>
            <input class="usa-input" id="system-field" type="input" name="system">
          </li>
          <li>
            <label class="" for="search-field">SORN ID</label>
            <input class="usa-input" id="sorn-field" type="input" name="sorn id">
          </li>
          <li>
            <label class="" for="search-field">PII</label>
            <input class="usa-input" id="pii-field" type="input" name="PII">
          </li>
        </ul>

      </div> <!--filter_section-->

      <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
        <div>
          Active filters:
          <ul id="active-filters">
          </ul>
          
        </div>

        <div>
          {% assign rows = site.data.pii-inventory | sort: "System Name" %}
          Matching <span id="result-count">{{ rows.size - 1 }}</span> of {{ rows.size - 1 }}.
        </div>

        <hr />
        <div id="cards">
          <div class="list">

          {% for row in rows %}
            <div class="card padding-2 margin-2">
              <div class="grid-row margin-bottom-105">
                <span class="system font-heading-lg text-blue">{{ row['System Name'] }}</span>
              </div>
              <!-- <ul class="padding-0"> -->
                <div class="grid-row margin-bottom-105">
                  <div class="grid-col-2">
                    <strong style="color:#5B5B5B">Type:</strong>
                  </div>
                  <div class="grid-col-10">
                    {{ row['Type'] }}
                  </div>
                </div>
                <div class="grid-row margin-bottom-105">
                  <div class="grid-col-2">
                    <strong style="color:#5B5B5B">SORN ID:</strong>
                  </div>
                  <div class="sorn-id grid-col-10">
                    {{ row['SORN ID']}}
                  </div>
                </div>
              <!-- </div> -->

              <div class="grid-row margin-bottom-105">
                <div class="grid-col-2">
                  <strong style="color:#5B5B5B">PII:</strong>
                </div>
                <div class="grid-col-10">
                  <ul class="pii">
                    {% assign pii = row['PII'] | split: "," | sort_natural %}
                    {% for i in pii %}
                      <li>{{i}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>


              <a href="{{ row['URL'] }}" target="_blank" class="usa-link">Link</a>

            </div>
          {% endfor %}
          </div>
          <ul class="pagination float-right"></ul>
        </div>
      </main>



    </div> <!--grid-row-->
  </div> <!--grid-container-->
