---
permalink: /
layout: wide
title: Home
---
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>

$(document).ready( function () {
  var options = {
    valueNames: [ 'system', 'pii' ],
    page: 10,
    pagination: true
  };

  var systemList = new List('cards', options);

})

</script>

<!-- <style>
.pagination li {
  display:inline-block;
  padding:5px;
}

.pii {
  columns: 2;
}
</style> -->

<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      <div class="usa-layout-docs__sidenav desktop:grid-col-3">
        <nav aria-label="Secondary navigation">
            <span>Title element</span>
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item">
                    <a href="">Parent link</a>
                </li>
            </ul>
        </nav>    
      </div> <!--sidenav-->

    <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
        <div id="cards">
          <input class="search" placeholder="Search" />
          
          <div class="list">
          {% assign rows = site.data.pii-inventory | sort: "System Name" %}
          {% for row in rows %}
            <div class="card outline-2px padding-2 margin-2">
              <span class="system font-heading-xl text-blue">{{ row['System Name'] }}</span>
              
              <ul class="pii usa-list">
                {% assign pii = row['PII'] | split: "," %}
                {% for i in pii %}
                  <li>{{i}}</li>
                {% endfor %}
              </ul>
              <a href="{{ row['URL'] }}" target="_blank" class="usa-link">Link</a>

            </div>
          {% endfor %}
          </div>
          <ul class="pagination float-right"></ul>
        </div>
      </main>


        
    </div> <!--grid-row-->
  </div> <!--grid-container-->
</div> <!--usa-section-->
