---
permalink: /
layout: wide
title: Home
---
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>

$(document).ready( function () {
  var options = {
    valueNames: [ 'system', 'pii' ],
    page: 10,
    pagination: true
  };

  var list = new List('cards', options);

  const systemSearch = $("#system-search");
  const piiSearch = $("#pii-search");

  const filter = function() {
    var systemVal = systemSearch.val();
    var piiVal = piiSearch.val();

    list.filter( function(item) {
      var systemNames = item.values()["system"]
      var piiNames = item.values()["pii"]
      var systemFilter = systemNames.includes(systemVal) || !systemVal
      var piiFilter = piiNames.includes(piiVal) || !piiVal
      if (systemFilter && piiFilter) {
        return true;
      } else {
        return false;
      }
    })
  }

  systemSearch.keyup( function(_) {
    filter()
  })

  piiSearch.keyup( function(_) {
    filter()
  })
})

</script>

<style>
.pagination li {
  display:inline-block;
  padding:5px;
}

.pii {
  columns: 2;
}
</style>

<input id="system-search" class="search" placeholder="System" />
<input id="pii-search" class="search" placeholder="PII" />

<section class="grid-container usa-section usa-prose">
  <div id="cards">
    
    <div class="list">
    {% assign rows = site.data.pii-inventory | sort: "System Name" %}
    {% for row in rows %}
      <div class="card outline-2px padding-2 margin-2">
        <span class="system font-heading-xl">{{ row['System Name'] }}</span>
        
        <ul class="pii">
          {% assign pii = row['PII'] | split: "," %}
          {% for i in pii %}
            <li>{{i}}</li>
          {% endfor %}
        </ul>
        <a href="{{ row['URL'] }}" target="_blank">Link</a>

      </div>
    {% endfor %}
    </div>
    <ul class="pagination float-right"></ul>
  </div>
  
</section>
