<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-top-2 padding-bottom-2">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://18f.gsa.gov">
              {% asset gsa-logo-w100.png width="50" alt="Agency logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col text-right">
          <p>Questions? Contact <a class="usa-link" href="mailto:gsa.privacyact@gsa.gov"> gsa.privacyact@gsa.gov </a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>
