{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<body>
  <div id="loader" class="usa-alert usa-alert--warning" >
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">SORNs are loading!</h3>
      <p class="usa-alert__text">Can take 30 seconds to load.</p>
    </div>
  </div>

  {% include header.html %}

  {% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

  <main id="main-content">
    {{ content }}
  </main>

  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
